<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-list *ngFor="let filme of filmes">
      <ion-item>
        
          <ion-card>
            <img alt="vingadores" width="200" heigth="400" [src]="filme.cartaz" />
            <ion-card-header>
              <ion-card-title>{{filme.titulo}}</ion-card-title>
              <ion-card-subtitle>Ano de lançamento: {{filme.ano}}</ion-card-subtitle>
              <ion-text>Diretor: {{filme.diretor}}</ion-text>
            </ion-card-header>
          
            <ion-card-content>
              País:  {{filme.origem}}
            </ion-card-content>
          </ion-card>
        
      </ion-item>
    </ion-list>

</ion-content>
